<!-- Active Users Component -->

<div class = "Active_Inactive_Card">

    <div class = "Active_Inactive_Title_Container">
        <h2 class = "Active_Inactive_Title"> Active Users </h2>
    </div>

    <div class = "Active_Inactive_List_Container">
        <!-- unordered list  tag -->
        <ul class="Active_Inactive_List">
    
            <!-- list item tag-->
            <li class="Active_Inactive_List_Item" *ngFor="let user of users; let i = index">
    
                {{ user }} | <a href="#" (click)="onSetToInactive(i)"> Set to Inactive </a>
    
            </li>
    
        </ul>

    </div>

</div>
